.container {
  margin: 0 auto; }

.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

body {
  font-family: "Roboto", sans-serif; }

.wrapper {
  overflow: hidden; }

.container {
  text-align: center; }

.h-page {
  padding-top: 15px;
  border: 1px solid;
  background-color: #1d1610;
  opacity: 0.65;
  font-family: "Roboto", sans-serif; }

.navbar-default .navbar-nav li a {
  font-size: 18px;
  line-height: 16px;
  color: #ffffff; }

.navbar-default .navbar-nav li:hover a {
  color: #dfad00; }

header .left {
  padding-left: 80px; }

.h-page .navbar-default .navbar-nav > li > a {
  padding-left: 10px; }

header .search {
  padding-left: 85px;
  width: 85%;
  position: relative; }
  header .search input {
    border: none; }
  header .search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    opacity: 0.25;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 16px;
    outline: none; }
  header .search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333; }
  header .search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5; }
  header .search .submit:hover {
    opacity: 0.8; }

input[type="search"] {
  -webkit-appearance: none; }

.navbar-default {
  border-color: transparent;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 0; }

.m-page {
  margin: 0 auto; }

main .product {
  height: 540px;
  background: #ffffff url("../../images/back.png"); }

.product h1 {
  font-family: "Roboto", sans-serif;
  line-height: 48px;
  color: #0149a1;
  font-size: 72px;
  font-weight: 700; }

.product p {
  font-family: "Roboto", sans-serif;
  line-height: 48px;
  color: #5d6981;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 70px; }
