.container{
  margin: 0 auto;
}

.container::before,
.container::after,
.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
}
.container::after,
.clearfix::after{
  clear: both;
}

body {
  font-family: $font;
}
.wrapper {
  overflow: hidden;
}
.container {
  text-align: $text-c;
}


@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova"),
  url(../fonts/Proxima_Nova/Proxima%20Nova/Proxima%20Nova%20Condensed%20Light.otf);
}
