$font: 'Roboto', sans-serif;
$font-two: "ProximaNova", sans-serif;
$font-weight-h1: 700;
$font-weight-h3: 400;
$font-weight-p: 300;
$text-c: center;
$text-l: left;

$background-color: #edeff1;


$color-white: #ffffff;
$color-gray: #5d6981;
$color-g-g: #5e636f;
$color-w-gray: #7c8ca0;
$color-blue: #0149a1;
$color-w-blue: #5483bb;
$color-orange: #ff6f2f;
$color-pink: #ff2d55;