.m-page{
  margin: 0 auto;
}

main .product{
  padding-top: 250px;
  height: 540px;
  background: url("../images/back.png");
}
.product {

  .blue{
    display: inline-block;

    width: 837px;
    height: 216px;
    opacity: 0.5;
    background: #21699c;
  }

  h1{
    color: $color-white;
    text-align: $text-l;
    font-family: $font;
    font-size: 60px;
    font-weight: $font-weight-p;
    line-height: 56px;
    padding-bottom: 25px;
  }
}


