.m-page{
  margin: 0 auto;
}

main .text{
  height: 1018px;
  background: $color-white;
  text-align: $text-l;


  h1 {
    text-align: $text-l;
    color: #646464;
    font-family: $font;
    font-size: 36px;
    font-weight: 100;
    line-height: 36px;
  }

  p {
    text-align: $text-l;
    color: #323232;
    font-family: $font;
    font-size: 12px;
    font-weight: $font-weight-p;
    line-height: 18px;
  }
}